
body{
  background: #fff;
  font-family: sans-serif;
}

.wrapper{
  position:absolute;
  left: 50%;
  top: 50%;
  
}

.backdrop{

  background-repeat: no-repeat;
  height: 200px;
background: url('https://www.socialclub.cam.ac.uk/images/group-people-eating-pizza-883x431-px.jpg/image' ) center;
background-repeat: no-repeat;
 background-size: cover;

}



.color_blank{
	color:#fff;
}


.knockout_text{
  font: bold 8rem sans-serif;
  text-align: center;
    color: black;
    mix-blend-mode: screen;
    background-color: rgb(90, 112, 129);
    height: 200px;
}

.search, form {
	text-align: center;
	margin-top: 5rem;
	}
